**/target/
**/test-output/
**/test-results/


# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
**/npm-debug.log
**/yarn-error.log

# Visual Studio Code
.vscode/*
.history/*


# Miscellaneous
**/.angular/*
**.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
testem.log
**/typings

# System files
.DS_Store
Thumbs.db

.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Automation/Automation.iml
.DS_Store
